env
.env.*

# Ignore all compiled python files and whatever else is too much for git
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.egg-link
*.installed.cfg
*.egg-info
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

commands.txt